<h1>
  <a href="/" title="The Pirate Bay">
    <img class="big" src="/images/The_Distributed_Bay_logo_white.svg">
    <img class="small" src="/images/The_Distributed_Bay_logo_white_no_text.svg">
  </a>
</h1>
<p id="navlinks">
  <strong>Search Torrents</strong> |
  <a href="/browse" title="Browse Torrents">Browse Torrents</a> |
  <a href="/recent" title="Recent Torrents">Recent Torrents</a>
</p>
<form>
  <p id="inp">
    <input class="form-control" type="search" title="Pirate Search" placeholder="Pirate Search" autofocus="" required="" ng-model="query">
    <button class="btn btn-primary subm-small" value="Pirate Search" ng-click="search()">Pirate Search</button>
  </p>
  <p id="chb">
    <label title="All"><input name="" type="checkbox" checked="">All</label>
    <label title="Anime"><input name="iht" type="checkbox" value="1">Anime</label>
    <label title="Software"><input name="iht" type="checkbox" value="2">Software</label>
    <label title="Games"><input name="iht" type="checkbox" value="3">Games</label>
    <label title="Adult"><input name="iht" type="checkbox" value="4">Adult</label>
    <label title="Movies"><input name="iht" type="checkbox" value="5">Movies</label>
    <label title="Music"><input name="iht" type="checkbox" value="6">Music</label>
    <label title="Other"><input name="iht" type="checkbox" value="7">Other</label>
    <label title="Series &amp; TV"><input name="iht" type="checkbox" value="8">Series &amp; TV</label>
    <label title="Books"><input name="iht" type="checkbox" value="9">Books</label>
  </p>
  <p id="subm">
    <button class="btn btn-primary btn-lg" value="Pirate Search" ng-click="search()">Pirate Search</button>
    <button class="btn btn-primary btn-lg" value="I'm Feeling Lucky" ng-click="searchLucky()">I'm Feeling Lucky</button>
  </p>
</form>
