<div>
  <table class="table-torrents table table-striped table-hover">
    <thead>
      <tr>
        <th class="title-row">Torrents</th>
        <th class="date-row">Age</th>
        <th class="size-row">Size</th>
        <th class="seeders-row">S</th>
        <th class="leechers-row">L</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="torrent in torrents">
        <td class="title-row">
          <div class="magnet">
            <a href="{{torrent.MagnetLink}}" title="Magnet Link"><i class="fa fa-magnet fa-lg"></i></a>
          </div>
          <a href="/torrent/{{torrent.Hash}}/{{sanitize(torrent.Name)}}">
            {{torrent.Name}}
          </a>
          <div class="subtitle">Download from
            <a href="/search?category={{torrent.CategoryID}}" title="Browse {{torrent.CategoryID}} torrents">{{torrent.CategoryID}}</a>
          </div>
        </td>
        <td class="date-row">{{moment(torrent.CreatedAt)}}</td>
        <td class="size-row">{{torrent.Size}}</td>
        <td class="seeders-row sy">{{torrent.Seeders}}</td>
        <td class="leechers-row ly">{{torrent.Leechers}}</td>
      </tr>
    </tbody>
  </table>
</div>
