<div>
  <table class="table-torrents table table-striped table-hover" ng-class="{loading: loading}">
    <thead>
      <tr>
        <th class="title-row">Torrents</th>
        <th class="date-row">Age</th>
        <th class="size-row">Size</th>
        <th class="seeders-row">S</th>
        <th class="leechers-row">L</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="torrent in torrents">
        <td class="title-row">
          <div class="magnet">
            <a href="{{torrent.MagnetLink}}" title="Magnet Link"><i class="fa fa-magnet fa-lg"></i></a>
          </div>
          <a href="/torrent/{{torrent.Hash}}/{{sanitize(torrent.Name)}}">
            {{torrent.Name}}
          </a>
          <div class="subtitle">Download from
            <a href="/search?category={{torrent.Category}}" title="Browse {{torrent.Category}} torrents">{{torrent.Category}}</a>
          </div>
        </td>
        <td class="date-row">{{torrent.TimeAgo}}</td>
        <td class="size-row">{{torrent.Size}}</td>
        <td class="seeders-row sy">{{torrent.Seeders}}</td>
        <td class="leechers-row ly">{{torrent.Leechers}}</td>
      </tr>
    </tbody>
  </table>
  <div class="pages">
    <a href="{{jumpLinks.start}}" title="Beginning"><i class="fa fa-angle-double-left"></i></a>
    <a href="{{jumpLinks.prev}}" title="Previous"><i class="fa fa-angle-left"></i></a>
    <a ng-repeat="page in pageLinks" href="{{page.link}}" title="Page {{page.page}}" ng-class="{active: page.active}" ng-click="updateSearch(page)">{{page.page}}</a>
    <a href="{{jumpLinks.next}}" title="Next"><i class="fa fa-angle-right"></i></a>
    <a href="{{jumpLinks.end}}" title="End"><i class="fa fa-angle-double-right"></i></a>
  </div>
</div>
