<h1>Add Torrent</h1>
<form role="form">
  <div class="form-group">
    <label for="name">Torrent Name</label>
    <input type="text" class="form-control" id="name" ng-model="name" placeholder="Torrent Name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" ng-model="description" class="form-control" rows="3" placeholder="Description"></textarea>
  </div>
  <div class="form-group">
    <label for="magnet">Magnet Link</label>
    <textarea id="magnet" ng-model="magnet" class="form-control" rows="3" placeholder="Magnet Link"></textarea>
  </div>
  <div class="form-group">
    <label for="tags">Tags (comma separated)</label>
    <textarea id="tags" ng-model="tags" class="form-control" rows="3" placeholder="Tags (comma separated)"></textarea>
  </div>
  <button type="submit" class="btn btn-default" ng-click="addTorrent()">Submit</button>
</form>
