<h1><a href="/torrent/6099470/Pinguy-OS-12-04-shell-i686-iso" class="link-textcolor vm">{{torrent.Name}}</a></h1>
<div id="details">
  <table>
    <tr>
      <th>Type:</th>
      <td><a href="/search?category={{torrent.CategoryID}}">{{torrent.CategoryID}}</a></td>
    </tr>
    <tr>
      <th>Files:</th>
      <td>{{torrent.Files}}</td>
    </tr>
    <tr>
    <th>Size:</th>
    <td>{{torrent.Size}}</td>
    </tr>
    <tr>
    <th>Seeders:</th>
    <td>{{torrent.Seeders}}</td>
    </tr>
    <tr>
    <th>Leechers:</th>
    <td>{{torrent.Leechers}}</td>
    </tr>
    <tr>
      <th>Info Hash:</th>
      <td>{{torrent.Hash}}</td>
    </tr>
  </table>
  <div class="torpicture" style="width: 150px; float: right;"></div>
  <div class="download">
    <a href="{{torrent.MagnetLink}}" title="Magnet Link"><i class="fa fa-magnet"></i> Magnet Link</a>
  </div>
  <div class="nfo">
    <pre>{{torrent.Description}}</pre>
  </div>
  <div class="download">
    <a href="{{torrent.MagnetLink}}" title="Magnet Link"><i class="fa fa-magnet"></i> Magnet Link</a>
  </div>
  <div id="filelistContainer">
    <a id="show"></a>
  </div>
</div>
