$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@mixin dotted-link {
  border-bottom: 1px dotted white;
  &:hover {
    border-bottom-style: solid;
    text-decoration: none;
  }
}
@mixin text-shadow {
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}

html {
  height: 100%;
  width: 100%;
}
body {
  background-image: url(../images/hexagons.png), linear-gradient(30deg,#2276ad,#6ec654);
  background-color: #2276ad;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control, .btn, .well, .panel, .modal, .jumbotron, pre {
  border-radius: 0 !important;
}

a {
  $link-color: #337ab7;
  @include dotted-link;
  color: $link-color;
  border-bottom-color: $link-color;
}


.ng-scope {
  & > h1 {
    @include text-shadow;
    text-align: center;
    & > a {
      @include text-shadow;
      @include dotted-link;
      color: white;
    }
  }
  & > form label {
    @include text-shadow;
  }
  & > #details {
    background-color: white;
    padding: 20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    th {
      padding-right: 10px;
    }
    .download {
      font-size: 1.33333333em;
      margin: 10px 0;
    }
  }
}
.torrents {
  text-align: center;
  & > a, th {
    @include text-shadow;
  }
  & > a {
    @include dotted-link;
  }
  .table-torrents {
    text-align: left;
    .subtitle {
      font-size: 85%;
      font-style: italic;
    }
    .magnet {
      float: right;
    }
  }
}


nav.navbar {
  background-color: white;
}

.index-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .index {
    display: table;
    height: 100%;
  }
}
search-form {
  display: table-cell;
  vertical-align: middle;

  &.form-big {
    text-align: center;
    img.small, .subm-small {
      display: none;
    }
  }
  &.form-small {
    width: 100vw;
    padding-left: 10px;

    #subm {
      display: none;
    }
    h1 {
      display: inline;
    }
    img.big {
      display: none;
    }
    form {
      display: inherit;
      width: inherit;

      .form-control {
        max-width: 500px;
        display: inline-block;
      }
    }
  }
  img.small {
    height: 92px;
    float: left;
    margin-right: 10px;
  }
  label + label {
    margin-left: 4px;
  }
  input[type="radio"], input[type="checkbox"] {
    margin: 4px 2px 0 0;
    position: relative;
    top: 2px;
  }

  @include text-shadow;

  p > a {
    @include dotted-link;
  }

  label {
    font-weight: normal;
  }

  img {
    max-height: 50vh;
    max-width: 90vw;
  }
}
